@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Blinker;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Blinker;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Blinker;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Blinker;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Black Mango;
	font-weight : bold;
	font-size : 134px;
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Blinker;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Black Mango;
	font-weight : bold;
	font-size : 136px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle11
{
	font-family : Blinker;
	font-size : 30px;
	line-height : 28px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Black Mango;
	font-size : 134px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Black Mango;
	font-size : 175px;
	line-height : 207.15px;
	letter-spacing : -9.62px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.u9s8FJ_00000137105520220074584590000003975906101311632539_
{
	background-image : url(u9s8FJ_00000137105520220074584590000003975906101311632539_.png);
	background-repeat : no-repeat;
}
.x38_CEUcF_00000130628749315954181580000011498551280129001117_
{
	background-image : url(x38_CEUcF_00000130628749315954181580000011498551280129001117_.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle13
{
	font-family : Black Mango;
	font-size : 170px;
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle15
{
	font-family : Blinker;
	font-size : 26px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle17
{
	font-family : Black Mango;
	font-size : 174px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Black Mango;
	font-size : 172px;
	line-height : 252.9px;
	letter-spacing : -9.46px;
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle19
{
	font-family : Blinker;
	font-weight : bold;
	font-size : 32px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle25
{
	font-family : Black Mango;
	font-weight : bold;
	font-size : 162px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle24
{
	font-family : Blinker;
	font-size : 52px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle23
{
	font-family : Black Mango;
	font-weight : bold;
	font-size : 30px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle26
{
	font-family : Black Mango;
	font-weight : bold;
	font-size : 30px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle20
{
	font-family : Blinker;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle21
{
	font-family : Black Mango;
	font-size : 172px;
	line-height : 204px;
	letter-spacing : -9.46px;
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle22
{
	font-family : Black Mango;
	font-size : 172px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.x32_yb8jW_00000093163196630483278040000016225581940960722561_
{
	background-image : url(x32_yb8jW_00000093163196630483278040000016225581940960722561_.png);
	background-repeat : no-repeat;
}
.rXcp4H_00000076585997245073421700000013754570552025913989_
{
	background-image : url(rXcp4H_00000076585997245073421700000013754570552025913989_.png);
	background-repeat : no-repeat;
}
.dVxbMNtif
{
	background-image : url(dVxbMNtif.png);
	background-repeat : no-repeat;
}
.dzEtrstif
{
	background-image : url(dzEtrstif.png);
	background-repeat : no-repeat;
}
